body {
	padding: 0px;
	margin: 0px;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;	
}
a:visited {
	color: black;
}
.main-menu {	
	padding: 15px;
	height: 60px;	
	background: #f8f8f8;
	border-bottom: 2px solid #eee; 
}
.menu-logo {
	width: 130px;
	height: 35px;	
	position: absolute;	
	left: 10px;
	background: url("../images/icon/BookShelfLogo.png") -10px -5px;
	background-size: 150px 40px; 
}
.search-div {
	background: #fff;
	border: 1px solid #eee;	
	box-shadow: 1px 2px 2px #eee;
	width: 600px;
	height: 35px;	
	padding: 5px;
	position: absolute;	
	left: 165px;	
	//animation: search_bar_mov 0.25s 1;
}
@keyframes search_bar_mov {
	75% {		
		left: 165px;	
		top: 15px;
	}
	from {
		left: 250px;
		top: 250px;
	}
}

.search-div > .search-input {
	width: 550px;
	height: 28px;
	border: 0px;
	font-size: 1.1em;
	padding-left: 2px;	
}
.search-div > input[type=submit] {
	background: url("../images/icon/search.png");
	background-size: 35px 35px;
	border: 0px;
	height: 35px;
	width: 35px;
	position: absolute;
	right: 10px;		
}
.main-menu > .menu-button {
	width: 50px;
	height: 50px;
	background: url("../images/icon/list.png") no-repeat 5px 5px;
	background-size: 35px 35px;		
	position: absolute;
	right: 10px;
	border-radius: 50%;
}
.main-menu > .float-menu {
	background: #fff;
	background: url("../images/icon/books.png") #fff no-repeat 180px 200px;
	background-size: 75px 75px;
	box-shadow: 4px 2px 10px 12px #efefef;
	width: 250px;
	position: absolute;
	top: 80px;
	right: 10px;
	max-height: 500px;
	display: none;
}
.main-menu > .float-menu::after {
	content: "";
	border: 10px solid transparent;
	border-bottom-color: #fff;
	width: 0px;
	height: 0px;
	position: absolute;
	top: -20px;
	right: 20px;	
}
.main-menu > .float-menu > ul > li {
	width: 60px;
	height: 70px;	
	float: left;
	padding: 5px;	
	margin: 5px;
	background: #fff;
	border: 2px solid transparent;
}
.main-menu > .float-menu > ul > li:hover {
	border: 2px solid #ddd;	
}

.main-menu > .float-menu > ul > li > a {
	color: #555;
}

.main-menu > .float-menu > ul > li > a > span {	
	display: block;
	font-size: 0.55em; 			
	text-align: center;
}

.menu-image-button {
	margin-left: 8px;	
	max-width: 50px;	
}

.main-search-div {
	left: 20%;
	top: 250px;
}

.main-search-div::before {
	content: "";
	width: 200px;
	height: 95px;	
	position: absolute;
	top: -100px;	
	background: url("../images/icon/shelf.png") 0px -47px no-repeat;
	background-size: 180px 180px;	
}
.main-body {
	width: 100%;
	background: #fff;
	height: 550px;
}


@media screen and (max-width: 900px) and (min-width: 400px) {
	body {
		background: aqua;
	}

	.menu-logo {
		width: 45px;
		height: 45px;		
		left: 10px;
		top: 20px;
		background: url("../images/icon/open-book.png") no-repeat 5px;
		background-size: 35px 35px; 
		border-radius: 50%;		
	}
	.search-div {
		width: 60%;	
		padding: 5px;
		position: absolute;	
		left: 80px;
	}
	.search-div > .search-input {
		width: 80%;
		height: 28px;
		border: 0px;
		font-size: 1.1em;
		padding-left: 2px;	
	}

}

@media screen and (max-width: 400px){
	body {
		background: #fff;
	}
	.menu-logo {
		width: 35px;
		height: 35px;		
		left: 10px;
		top: 20px;
		background: url("../images/icon/open-book.png") no-repeat 5px;
		background-size: 25px 25px; 
		border-radius: 50%;		
	}
	.search-div {
		width: 60%;	
		padding: 5px;
		position: absolute;	
		left: 55px;
	}
	.search-div > .search-input {
		width: 80%;
		height: 28px;
		border: 0px;
		font-size: 1.1em;
		padding-left: 2px;	
	}

	.main-search-div {
		left: 3%;
		top: 250px;
		width: 90%;
	}
	.main-menu > .menu-button {
		right: 0px;
	}
}